.wrapper {
  height: 100vh;
  overflow-y: hidden;
}

.main {
  &-section {
    height: 100%; // 브라우저 높이와 같게 설정
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
  }
}
