// light
$primary-light: #66bfbf;
$secondary-light: #eaf6f6;
$tertiary-light: #f76b8a;
$color-light: #fcfefe;

//dark

$primary-dark: #353941;
$secondary-dark: #26282b;
$tertiary-dark: #90b8f8;
$tertiarcolor-dark: #5f85db;
