// light
$primary-light: #66bfbf;
$secondary-light: #eaf6f6;
$bg-light: #fcfefe;
$color-light: #f76b8a;

//dark

$primary-dark: #353941;
$secondary-dark: #26282b;
$bg-dark: #5f85db;
$color-dark: #90b8f8;
