@import "colors";
// @import "mixins";
// @import "variables";
// @import "reset";

// root

:root {
  background: $secondary-dark;
  color: $color-light;
  height: 100%;
  width: 100%;
}
body {
  margin: auto;
  height: 100vh;
  flex-grow: 1;
  max-width: 100rem;
  overflow: hidden;
}
.boundary {
  flex: 1;
  display: flex;
  &-nav-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &-item {
    display: grid;
    place-items: center;
    flex: 1;
  }
  &-section {
    flex: 8;
  }
  &--active {
    flex-direction: row;
    align-items: stretch;
  }
}
.motion-box {
  width: 100px;
  height: 100px;
  border: 1px solid greenyellow;
}
.nav {
  display: flex;

  &-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: $color-light;
    &:active {
      color: $color-light;
    }
    &:visited {
      color: $color-light;
    }
  }
  &-top {
    &-wrapper {
      max-height: 12.5rem;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
      align-items: center;
    }
  }
  &-side {
    &-wrapper {
      flex: 2;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      align-items: center;
    }
  }
}
