@import "colors";
// @import "mixins";
// @import "variables";
// @import "reset";

// root
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  background: $secondary-dark;
  color: $color-light;
  height: 100%;
  width: 100%;
  font-family: "Pretendard-Regular";
}
body {
  margin: auto;
  height: 100vh;
  flex-grow: 1;
  max-width: 100rem;
  overflow: hidden;
}
.boundary {
  flex: 1;
  display: flex;
  &-nav-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 5rem;
  }
  &-item {
    display: grid;
    place-items: center;
    flex: 1;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    &:hover {
      background: #000;
    }
  }
  &-section {
    flex: 8;
  }
  &--active {
    flex-direction: row;
    align-items: stretch;
  }
}
.nav {
  display: flex;
  &-item {
    text-decoration: none;
    color: $color-light;
    &:active {
      color: $color-light;
    }
    &:visited {
      color: $color-light;
    }
  }
}
